.filters-wrapper {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  padding: 10px;
}
.field-row {
  display: flex;
  align-items: center;
  gap: 8px;
}
.field-label {
  font-size: 11px;
  color: #444;
  margin-bottom: 0;
  white-space: nowrap;
  width: 90px;
  font-weight: bold;
}
@media (max-width: 768px) {
  .field-label {
    width: 70px;
  }
}

.field-col {
  border: 1px solid #e9e9e9;
  border-radius: 4px;
  padding: 6px 8px;
}


.quotation-footer{
      padding: 0px 0px 0px 10px;
}
.quotation-header {
  background-color: #1b176e;
  display: flex;
  align-items: center;
  padding-inline: 24px;
}

.quotation-header-title {
  color: #fff;
  margin: 0;
  
}


.filters-actions {
  display: flex;
  align-items: center;
  gap: 10px;  
}

.delete-icon {
  margin-left: 8px;
  cursor: pointer;
  color: red;
}

.field-input {
  width: 100%;
  height: 32px;
}


.filters-left{
    display: flex;
    gap: 24px;
}




