.footer-btn-group {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.btn{
    padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}
